footer {
  position: fixed;
  width: 100%;
  bottom:0; 
  height: 70px;
  background-color: white;
}

p.copyright {
  position: absolute;
  width: 100%;
  line-height: 1rem;
  font-size: 0.7em;
  text-align: center;
  bottom:0;
}

.mb-40px {
  margin-bottom: 40px;
}

.real-time-events {
  border-left: 0.3rem solid skyblue
}