/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
/config/env.local.exs
/assets/node_modules/*
/.elixir_ls/*
*.pem
.sobelow
/priv/static/*
/priv/cert/*.pem
/citus-docker/data
